[Unit]
Description=Odoo
After=network.target

[Service]
Type=simple
SyslogIdentifier=odoo
PermissionsStartOnly=true
User=jocelyn
Group=jocelyn
ExecStart=/home/jocelyn/Enviroments/3.8/odoo/15.0/bin/python /home/jocelyn/Viindoo/15.0/odoo/odoo-bin -c /home/jocelyn/Viindoo/15.0/config/core.conf
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
